$default: #243f4d;
$btn: #a3bbc8;
$text: #7b7b7b;
$bg-other: #fef7f0;

%DMSans-400 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

%DMSans-500 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

%DMSans-700 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%Rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%Rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}