$default: #243f4d;

%DMSans-400 {
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
}

%DMSans-500 {
  font-family: 'DMSans', sans-serif;
  font-weight: 500;
}

%DMSans-700 {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%Rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}