@import 'vars'; //переменный для цвета и шрифта, кусочки кода
@import 'fonts';
@import 'reset';
@import 'global'; // глобальные стили

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.logo {
  font-size: 36px;
  line-height: 1.611;
  color: $default !important;
  @extend %Rubik-500;

  &__text {
    padding-left: 12px;
  }
}

.menu {
  font-size: 15px;
  line-height: 0.8;

  &__list {
    margin-left: 160px;
    padding-bottom: 10px;
  }

  &__item:not(:last-child) {
    padding-right: 30px;
  }

  &__link {
    @extend %Rubik-500;
    color: #436372;
    transition: all 1s;
  }

  &__link--active::after,
  &__link::after {
    content: "+";
    opacity: 0;
    transition: all 0.4s;
  }

  &__link--active:hover::after,
  &__link:hover::after {
    padding-right: 5px;
    padding-left: 3px;
    opacity: 1;

  }
}

.icons-inner,
.user-menu,
.menu__list,
.logo {
  display: flex;
}

.search,
.menu-mini {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
}

.search {
  background-color: #edf1f4;
  margin-right: 20px;
}

.menu-mini {
  background-color: #a3bbc8;
}

.user-menu {
  background-color: #fcd7b6;
  border-radius: 25px;
  padding: 9px 10px;
  margin-right: 18px;

  &__link {
    position: relative;
    padding: 12px 30px 3px;
  }

  &__link:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__num {
    position: absolute;
    top: 2px;
    left: 40px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    font-size: 10px;
    line-height: 1.7;
    text-align: center;
    @extend %DMSans-500;
    color: $default;
  }
}

.footer {
  font-size: 14px;
  line-height: 1.5;
  @extend %Rubik-500;
  color: #7b7b7b;

  & a {
    color: #7b7b7b;
    text-decoration: none;
  }

  &__top {
    display: flex;
    padding: 53px 0;
    border-bottom: 1px solid rgba(163, 187, 200, 0.4);
  }

  &__top p:not(:last-child),
  &__item {
    margin-bottom: 12px;
  }

  &__block {
    min-width: 270px;
  }

  &__block:not(:last-child) {
    margin-right: 30px;
  }

  &__contact {
    max-width: 200px;
  }

  &__contact span {
    text-transform: uppercase;
    display: inline;
  }

  &__contact {
    font-style: normal;
  }

  &__logo {
    margin: -10px 0 19px;
  }

  &__title {
    margin: 19px 0;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #1f2044;
  }

  &__form {
    margin-top: 38px;
  }

  &__form-input {
    background-color: rgba(252, 215, 182, 0.2);
    outline: transparent;
    transition: all 1s;
  }

  &__form-input:focus,
  &__form-btn:focus {
    outline: 1px solid #7b7b7b;
  }

  &__form-input,
  &__form-btn {
    border: none;
    padding: 9px 0;
    transition: all 0.5s;
  }

  &__form-btn {
    background-color: rgb(163, 187, 200);
    font-size: 14px;
    @extend %DMSans-500;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    padding: 9px 14px;
  }

  &__form-input::placeholder {
    font-size: 12px;
    @extend %DMSans-500;
    color: rgb(35, 73, 105);
    line-height: 1.2;
    padding: 13px;
  }

  &__bottom {
    padding: 33px 0 10px;
  }

  &__bottom,
  &__menu-list {
    display: flex;
    justify-content: space-between;
  }

  &__menu-item {
    padding: 0 15px;
    border-right: 1px solid #7b7b7b;
  }

  &__menu-item:last-child {
    padding-right: 0;
    border: none;
  }
}



@import 'media';