@import 'base/vars';
@import 'base/fonts';
@import 'base/reset';
@import 'base/global';
@import 'base/libs';
@import 'base/btn';
@import 'base/icons';
@import 'base/label-check';
@import 'base/pagination';

@import 'blocks/header';
@import 'blocks/tabs-header';
@import 'blocks/tabs-content';

//HOME
@import 'blocks/home-slider';
@import 'blocks/info';
@import 'blocks/video';

//ABOUT
@import 'blocks/about/title-box';
@import 'blocks/about/mission';
@import 'blocks/about/statistic';
@import 'blocks/about/team';


//WIDGET
@import 'blocks/widget/mixitup';
@import 'blocks/widget/widget';
@import 'blocks/widget/product-items';
@import 'blocks/widget/category-items';

//FEATURE
@import 'blocks/features/features';
@import 'blocks/features/product-select';

//CATALOG
@import 'blocks/catalog/catalog';
@import 'blocks/catalog/product-list/product-list';
@import 'blocks/catalog/product-list/product-list2';
@import 'blocks/catalog/articles-list';
@import 'blocks/catalog/articles-item';
@import 'blocks/catalog/article-page';

//SITEBAR
@import 'blocks/catalog/sidebar/sidebar';
@import 'blocks/catalog/sidebar/filter';
@import 'blocks/catalog/sidebar/rangeslider';
@import 'blocks/catalog/sidebar/recent-product';
@import 'blocks/catalog/sidebar/recent-article';
@import 'blocks/catalog/sidebar/search-form';

//PRODUCT-CART
@import 'blocks/product-cart/product-cart';
@import 'blocks/product-cart/product-cart__left';
@import 'blocks/product-cart/product-gallery';
@import 'blocks/product-cart/product-related';

//COMMENTS
@import 'blocks/comments/comments';
@import 'blocks/comments/leave-comment';


//LOGIN
@import 'blocks/login';

//TERMS
@import 'blocks/terms';

//BLOG
@import 'blocks/blog/article';
@import 'blocks/blog/blog';

//CLIENT
@import 'blocks/clients';

//FOOTER
@import 'blocks/footer/footer';
@import 'blocks/footer/subscribe-form';