.article-item {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);


  &__img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    margin: -10px 30px 10px;
  }

  &__about {
    padding: 17px 4px;
    border-top: 1px solid #e0e0e0;
  }


  &__data {
    text-transform: uppercase;
    @extend %Rubik-400;
    color: #222933;
    font-size: 12px;
    margin-right: 25px;

    &::before {
      content: url('/images/sprite.svg#calendar');
      display: inline-block;
      height: auto;
      width: 13px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  &__author {
    @extend .article-item__data;

    &::before {
      content: url('/images/sprite.svg#author');
    }
  }



  &__stick {
    padding: 5px 30px;
    background-color: rgb(163, 187, 200);
    border-radius: 25px;
    text-transform: uppercase;
    @extend %poppins-700;
    color: #fff;
  }

  &__title {
    padding: 25px 2px 5px;
    max-width: 295px;
    min-height: 95px;
    font-size: 18px;
    margin-bottom: 7px;
  }
}