.blog {
  padding-top: 90px;
  background-color: $bg-other;
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    background-color: #fff;
    top: 0;
    height: 423px;
    width: 100%;
    z-index: -1;
  }

  &__inner {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
  }


  &__title {
    margin-bottom: 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__view-all {
    font-size: 16px;
    @extend %DMSans-700;
    color: #262626;
    line-height: 1.7;
    padding-right: 25px;
    position: relative;

    &::after {
      content: url('/images/sprite.svg#arrow_all');
      position: absolute;
      width: 13px;
      right: 0;
    }
  }
}