.footer {
  @extend %Rubik-400;
  line-height: 1.5;

  &__top {
    padding: 77px 0 55px;
    border-bottom: 1px solid rgba(163, 187, 200, 0.4);

    p:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__item {
    margin-bottom: 12px;
  }

  &__block {
    min-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__contact {
    max-width: 200px;
    font-style: normal;

    span {
      text-transform: uppercase;
      display: inline;
    }
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__title {
    margin: 19px 0;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #1f2044;
  }

  &__bottom {
    padding: 33px 0 10px;
    @extend .footer-menu
  }
}

.footer-menu {
  display: flex;
  justify-content: space-between;

  &__item {
    padding: 0 15px;
    border-right: 1px solid $text;

    &:last-child {
      padding-right: 0;
      border: none;
    }
  }
}