.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-top: 6px;
  background-color: $btn-cycle-bg;
  fill: $btn-cycle;
  transition: all 0.3s;
  display: inline-block;
  position: relative;
  text-align: center;

  &--grey {
    background-color: #f6f6f6;
  }

  &--mini {
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: $btn-cycle;
    fill: $btn-cycle-bg;

    // .btn-circle__svg--big {
    //   background-color: $btn-cycle-bg;
    //   fill: $btn-cycle;
    // }
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    transition: all 0.4s;

    &--big {
      width: 22px;
      height: 27px;

    }
  }
}


.btn-rectangle {
  display: inline-block;
  position: relative;
  max-height: 60px;
  padding: 20px 80px 20px 21px;
  border: 1px solid $btn-link-color;
  border-radius: 5px;
  @extend %Rubik-500;
  font-size: 15px;
  color: $btn-link-color;
  background-color: $btn-link-bg;
  transition: all 0.5s;

  &::after {
    content: '';
    mask: url('../images/sprite.svg#arrow') no-repeat 50% 50%;
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: $btn-link-color;
    transition: all 0.4s;
  }

  &:hover {
    &::after {
      transform: rotate(180deg);
    }
  }

  &--blue {
    color: #fff;
    background-color: $btn-cycle;
    border: none;

    &::after {
      background-color: #fff;
    }

    &:focus {
      outline: 1px solid $text;
      outline-offset: -1px;
    }

  }
}

.btn-form {
  display: block;
  width: 100%;
  padding: 20px 0;
  @extend %Rubik-500;
  font-size: 18px;
  transition: background-color 0.3s;
}

.btn-rectangle2 {
  @extend %Rubik-400;
  font-size: 16px;
  color: $default;
  padding: 16px 21px;
  border: 1px solid $product-price;
  transition: background-color 0.3s;

  &:hover {
    color: #fff;
    background-color: $product-price;
  }

  &--active {
    color: #fff;
    background-color: $product-price;
  }
}



.btn-rectangle3 {
  @extend %Rubik-400;
  font-size: 16px;
  color: #fff;
  background-color: $product-price;
  min-height: 50px;
  padding: 0px 21px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color, border-radius 0.3s;

  &__svg {
    width: 25px;
    height: 25px;
    fill: #fff;
  }

  &__text {
    display: none;
  }

  &--white {
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    .btn-rectangle3__svg {
      fill: $product-price;
    }

    &:hover {
      background-color: $product-price;
      border-radius: 10px;

      .btn-rectangle3__svg {
        fill: #fff;
      }
    }

  }
}

.none:hover {
  border-radius: 10px;

  .btn-rectangle3__svg {
    display: none;
  }

  .btn-rectangle3__text--hidden {
    display: inline-block;
  }

  &~.btn-rectangle3 {
    display: none;
  }
}