.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;

  &--view {

    &--circle {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding-top: 6px;
      background-color: $btn-cycle-bg;
      fill: $btn-cycle;
      transition: all 0.3s;

      &:hover {
        background-color: $btn-cycle;
        fill: $btn-cycle-bg;
      }
    }

    &--rectangle {
      position: relative;
      display: block;
      padding: 20px;
      border: 1px solid $btn-link-color;
      border-radius: 5px;
      @extend %Rubik-500;
      font-size: 15px;
      color: $btn-link-color;
      max-width: 200px;
      background-color: $btn-link-bg;
      transition: all 0.5s;

      &::after {
        content: '';
        mask: url('/images/sprite.svg#arrow') no-repeat 50% 50%;
        position: absolute;
        right: 20px;
        width: 22px;
        height: 20px;
        background-color: $btn-link-color;
        transition: all 0.4s;
      }

      &:hover {
        &::after {
          width: 32px;
          height: 30px;
          top: 27%;
          transform: rotate(180deg);
        }
      }


    }
  }

  &__svg {
    width: 18px;
    height: 18px;

    &--size {
      &--big {
        width: 22px;
        height: 27px;
      }
    }
  }
}