html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-style: normal;
  line-height: 1.4;
  @extend %DMSans-400;
  color: $text;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--big {
    max-width: 1800px;
  }
}

.di-flex {
  display: flex;
}



.title {
  @extend %DMSans-700;
  color: $h2-color;

  &--size {
    &--h2 {
      font-size: 36px;
      line-height: 1.2;
      margin-bottom: 28px;
    }

    &--h5 {
      @extend %DMSans-500;
      font-size: 18px;
      color: $h5-color;
      line-height: 1.25;

    }
  }
}