html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-style: normal;
  line-height: 1.4;
  @extend %DMSans-400;
  color: $text;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--big {
    max-width: 1800px;
  }
}

.di-flex {
  display: flex;
}

.btn {
  border: none;
  cursor: pointer;
  background-color: transparent;

  &__circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 4px;
    background-color: $btn-cycle-bg;
    fill: $btn-cycle;
    transition: all 0.3s;

    &:hover {
      background-color: $btn-cycle;
      fill: $btn-cycle-bg;
    }

    &-svg {
      width: 18px;
      height: 18px;

      &--big {
        width: 22px;
        height: 27px;
      }
    }
  }
}

.btn-link {
  position: relative;
  display: block;
  padding: 20px;
  border: 1px solid $btn-link-color;
  border-radius: 5px;
  @extend %Rubik-500;
  font-size: 15px;
  color: $btn-link-color;
  max-width: 200px;
  background-color: $btn-link-bg;
  transition: all 10s;
  transition: all 0.7s;


  &:hover {
    &::after {
      width: 32px;
      height: 30px;
      top: 27%;
      transform: rotate(180deg);
    }
  }

  &::after {
    content: '';
    mask: url('../../images/sprite.svg#arrow') no-repeat 50% 50%;
    position: absolute;
    right: 20px;
    width: 22px;
    height: 20px;
    background-color: $btn-link-color;
    transition: all 0.7s;
  }

}

a,
button {
  outline: transparent;
}

h2 {
  font-size: 36px;
  line-height: 1.2;
  @extend %DMSans-700;
  color: $h2-color;
  margin-bottom: 28px;
}