html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-style: normal;
  line-height: 1.4;
  @extend %DMSans-400;
  color: $text;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &--big {
    max-width: 1800px;
  }
}

.di-flex {
  display: flex;
}

.title {
  @extend %DMSans-700;
  color: $h2-color;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 28px;

  &--blue {
    color: $h2-color-blue;
  }
}

.logo {
  &__img {
    max-height: 120px;
    // object-fit: cover;
    // object-position: center;
  }
}