.label-check {
  padding-left: 27px;
  position: relative;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked+.label-check__style::before {
      content: url('../images/sprite.svg#check-solid');
      position: absolute;
      width: 10px;
      height: 10px;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover+.label-check__style {
      transform: scale(1.2);
    }
  }

  &__style {
    position: absolute;
    border-radius: 2px;
    background-color: rgb(235, 235, 235);
    width: 14px;
    height: 14px;
    left: 0;
    top: 3px;
    transition: transform 0.5s;
  }
}