.product-related {
  position: relative;

  &__title {
    margin-bottom: 70px;
  }

  &__slider {
    width: 1200px;
    margin-left: -20px;
  }

  .slick-list {
    padding-left: 20px;
    height: 410px;
  }

  .slick-slider [aria-hidden="true"] {
    .product-item {
      box-shadow: none;
    }
  }

  .slick-arrow {
    position: absolute;
    font-size: 0;
    height: 50px;
    width: 50px;
    background: transparent;
    border: 1px solid #edf1f4;
    border-radius: 5px;
    transition: border-color 0.3s;

    &::before {
      content: "";
      background-image: url(../images/sprite.svg#arrow);
      position: absolute;
      left: 11px;
      top: 10px;
      // // transform: translate (-50%, -50%);
      width: 25px;
      height: 25px;
    }

    &:hover {
      border: 2px solid #a3bbc8;
    }
  }

  .slick-prev {
    right: 93px;
    top: -116px;

    &::before {
      transform: rotate(180deg);
    }
  }

  .slick-next {
    right: 23px;
    top: -116px;
  }

}