.product-item {
  // min-height: 382px;
  position: relative;
  padding: 30px 10px 40px;
  border-radius: 10px;
  background-color: $gallery-product-bg;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  background-repeat: no-repeat;
  background-position: center 22%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  &__top {
    justify-content: center;
    max-width: 250px;
    min-height: 215px;
    align-items: center;
    margin-bottom: 45px;
  }

  &__btn {
    position: absolute;
    bottom: 155px;
    padding: 0 8px;
    opacity: 0;
    transition: opacity 0.3s;

    .btn-circle {
      box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.05);
    }

    .btn-circle:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__link {
    top: 23px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:hover .product-item__btn {
    opacity: 1;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 16px;
    @extend %DMSans-500;
    color: $product-title;
  }

  &__price {
    @extend %DMSans-700;
    color: $product-price;
  }

  &__img {
    max-width: 250px;
    max-height: 215px;
    object-fit: cover;
  }
}