.banner {
  padding: 115px 0 36px;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $banner-bg;
    padding: 80px 145px 80px 430px;
    position: relative;
  }

  &__img {
    position: absolute;
    top: -100px;
    left: 145px;
  }

  &__title {
    font-size: 26px;
    @extend %DMSans-700;
    color: $banner-title;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 16px;
    color: $banner-text;
    margin-bottom: 35px;
  }
}