.footer {
  @extend %Rubik-500;
  line-height: 1.5;

  & a {
    color: $text;
    text-decoration: none;
  }

  &__top {
    padding: 53px 0;
    border-bottom: 1px solid rgba(163, 187, 200, 0.4);

    & p:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__item {
    margin-bottom: 12px;
  }

  &__block {
    min-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__contact {
    max-width: 200px;
    font-style: normal;

    & span {
      text-transform: uppercase;
      display: inline;
    }
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__title {
    margin: 19px 0;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #1f2044;
  }

  &__form {
    margin-top: 38px;

    &-input {
      background-color: $bg-other;
      outline: transparent;
      max-width: 170px;
      border: none;
      transition: all 0.5s;
      padding: 9px 14px;

      &::placeholder {
        font-size: 12px;
        @extend %DMSans-500;
        color: rgb(35, 73, 105);
        padding: auto;
      }

      &:focus {
        outline: 1px solid $text;
      }
    }

    &-btn {
      background-color: rgb(163, 187, 200);
      font-size: 14px;
      @extend %DMSans-500;
      line-height: 1.5;
      color: rgb(255, 255, 255);
      @extend .footer__form-input;

      &:focus {
        @extend .footer__form-input:focus
      }

    }

  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    padding: 33px 0 10px;
    @extend .footer__menu-list
  }

  &__menu-item {
    padding: 0 14px;
    border-right: 1px solid $text;

    &:last-child {
      padding-right: 0;
      border: none;
    }
  }


}