.gallery {
  padding: 62px 0;

  &__title {
    text-align: center;
  }

  &__menu {
    justify-content: center;
    margin-bottom: 80px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 1.2;
    @extend %DMSans-700;
    color: #8b8b8b;
    transition: color 0.3s;

    &:hover {
      color: #191919;
    }
  }

  &__product {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;

    &-item {
      min-height: 382px;
      position: relative;
      padding: 40px;
      border-radius: 10px;
      background-color: $gallery-product-bg;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      background-repeat: no-repeat;
      background-position: center 22%;
      flex-direction: column;
      justify-content: flex-end;

      &:hover .gallery__product-btn {
        opacity: 1;
      }
    }

    &-btn {
      position: absolute;
      bottom: 155px;
      padding: 0 8px;
      opacity: 0;
      transition: opacity 0.3s;

      & .btn:not(:last-child) {
        margin-right: 8px;
      }
    }

    &-title {
      margin-bottom: 10px;
      font-size: 16px;
      @extend %DMSans-500;
      color: $product-title;
    }

    &-price {
      @extend %DMSans-700;
      color: $product-price;
    }
  }

  &__design {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 30px;

    &-item {
      min-height: 246px;
      padding: 35px;
      background-color: $gallery-design-bg;
      background-repeat: no-repeat;
      background-position: 100px 100px;
      border-radius: 10px;
      transition: background-color 0.3s;

      &--ver2 {
        background-position: 80% center;
      }

      &--ver3 {
        background-position: 90% center;
      }

      &:hover {
        background-color: $gallery-design-bg-cover;
      }

    }

    &-title {
      font-size: 20px;
      @extend %DMSans-700;
      color: $design-title;
      line-height: 1.2;
      max-width: 180px;
      margin-bottom: 20px;
    }

    &-text {
      @extend .gallery__product-price
    }
  }
}

.mixitup-control-active {
  color: #191919;
}