.header {

  &__inner {
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
  }
}

.menu {
  font-size: 15px;

  &__list {
    margin-left: 150px;
    margin-bottom: 5px;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    @extend %Rubik-500;
    color: #436372;
  }

}

.icons-inner {
  margin-top: 5px;
}

.btn {
  &__circle {
    &-menu {
      background-color: $btn;
      fill: #fff;
    }

    &-search {
      background-color: #edf1f4;
      margin-right: 20px;
      fill: #243f4d;
    }
  }

  &__user-menu {
    position: relative;
    padding: 7px 30px 0;

    &:not(:last-child) {
      border-right: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
}

.user-menu {
  background-color: #fcd7b6;
  border-radius: 25px;
  margin-right: 18px;
  padding: 10px;

  &__num {
    position: absolute;
    top: 0;
    left: 42px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    font-size: 10px;
    line-height: 1.7;
    text-align: center;
    @extend %DMSans-500;
    color: $default;
  }
}