// .slider-icon {
//   width: 634px;
//   height: 634px;
//   background-color: #000;
// }

.slider {
  position: relative;
  margin: 0 15px;

  &::before {
    content: url('../../images/slider-home/bg.png');
    position: absolute;
    top: 100px;
    right: 185px;
  }

  &__container {
    background-color: #fcd7b6;
    max-width: 1770px;
    margin: 0 auto;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 41px;
    left: 50%;
    transform: translateX(-50%);

    button {
      background-color: #fde3cc;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      @extend %Rubik-500;
      color: $default;
      border: none;
      margin-right: 10px;
      transition: background-color 0.4s;
      outline: transparent;
    }
  }

  .slick-active {
    button {
      background-color: #fff;
      color: #000;
    }
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    padding: 215px 0 275px;
  }

  &__content {
    max-width: 420px;
  }

  &__title {
    font-size: 72px;
    @extend %Rubik-500;
    line-height: 1;
    color: $default;
    margin-bottom: 27px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 18px;
    @extend %Rubik-400;
    color: rgb(67, 99, 114);
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 370px;
  }

  &__link {
    @include btn-link (none, 0px, $btn-cycle, #fff);

    &:hover {
      @include btn-link (none, 0px, #fff, $btn-cycle);
    }

    &:focus {
      outline: 1px solid $text;
      outline-offset: -1px;
    }
  }

}

.info {
  display: flex;
  justify-content: center;
  background-color: #fef7f0;

  &__item {
    padding: 46px 46px 46px 230px;
    position: relative;
    width: 100%;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50px;
      left: 230-30-59px;
      width: 50px;
      height: 50px;
      background-color: $info-icon-color;
    }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   bottom: 50%;
    //   left: 230-59px;
    //   width: 20px;
    //   height: 20px;
    //   background-color: $info-icon-color;
    //   mask: url('../../images/sprite.svg#ellipse') no-repeat 50% 50%;
    // }

    &-time {
      &::after {
        mask: url('../../images/sprite.svg#time') no-repeat 50% 50%;
      }
    }


    &-delivery {
      &::after {
        mask: url('../../images/sprite.svg#delivery') no-repeat 50% 50%;
      }
    }

    &-pay {
      &::after {
        mask: url('../../images/sprite.svg#pay') no-repeat 50% 50%;
      }
    }
  }

  &__title {
    font-size: 18px;
    @extend %DMSans-700;
    color: #414141;
  }

  &__text {
    font-size: 16px;
    @extend %DMSans-500;
    line-height: 1.9;
    max-width: 215px;

    &:nth-child(2) {
      max-width: 225px;
    }

  }
}