.filter-box {


  &__input[type=checkbox] {
    @extend %checkbox-hidden;

    &:checked+.filter-box__inner {
      background-color: $bg-box;
    }

    &:checked+.filter-box__inner .filter-box__quantity {
      color: $default;
    }
  }

  &__inner {
    display: inline-flex;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 1px;
    }
  }

  &__quantity {
    color: #b3b3b3;
    margin-left: auto;
    display: inline-flex;

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }
}

.category-icon {

  &::after {
    content: url('/images/sprite.svg#arrow_all');
    position: absolute;
    width: 10px;
    right: 20px;
  }
}



.price-inner {
  padding: 0;
  margin-top: 30px;
}