.recent-product {
  &__inner {
    height: 70px;
    width: 70px;
    border: 2px solid #f2f2f2;
    background-color: #fefefe;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__img {
    max-height: 63px;
    object-fit: cover;
  }

  &__text {
    flex-direction: column;
    padding: 3px 0;
    justify-content: space-between;
  }

  &__title {
    font-size: 14px;
    color: $rp-color-text;
  }

  &__price {
    font-size: 15px;
    color: $rp-color-text;
  }

  .jq-ry-container {
    padding: 0;
  }

  &__link {
    font-size: 0;
    position: absolute;
    width: 100%;
    height: 100%;

  }

}