.sidebar {
  min-width: 270px;
  margin-right: 30px;
  color: $default;
  @extend %Rubik-400;
  font-size: 16px;
}

.sidebar-box {
  margin-bottom: 50px;

  &__title {
    @extend %DMSans-700;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-right: 55px;
    margin-bottom: 30px;

    &::after {
      content: url('../images/sprite.svg#filter-title-icon');
      position: absolute;
      width: 39px;
      height: 3px;
      top: -8px;
      right: 0;
    }
  }

}