.clients {
  padding: 90px 0 90px;
  background-color: $bg-other;
  // margin-top: -175px;

  &__items {
    display: flex;
    align-items: center;
    margin: 0 50px;

  }

  &__item {
    &:not(:last-child) {
      margin-right: 99px;
    }
  }
}