.home-slider {
  position: relative;
  z-index: 0;
  background-color: #fcd7b6;
  max-width: 1770px;
  margin: 0 auto;

  &::before {
    content: url('/images/slider-home/bg.png');
    position: absolute;
    top: 100px;
    right: 0;
    margin-right: 245px;
    z-index: 0;
  }

  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 41px;
    left: 50%;
    transform: translateX(-50%);

    button {
      background-color: #fde3cc;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      @extend %Rubik-500;
      color: $default;
      border: none;
      margin-right: 10px;
      transition: background-color 0.4s;
      outline: transparent;
      cursor: pointer;
    }
  }

  .slick-active {
    button {
      background-color: #fff;
      color: #000;
    }
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    padding: 215px 0 275px;
  }

  &__content {
    max-width: 420px;
  }

  &__title {
    font-size: 72px;
    @extend %Rubik-500;
    line-height: 1;
    color: $default;
    margin-bottom: 27px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 18px;
    @extend %Rubik-400;
    color: rgb(67, 99, 114);
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 370px;
  }

  &__link {
    @include btn-link (none, 0px, $btn-cycle, #fff);

    &:focus {
      outline: 1px solid $text;
      outline-offset: -1px;
    }

    &:hover {
      @include btn-link (none, 0px, #fff, $btn-cycle);
    }

  }

}