.info {

  &__items {
    display: flex;
    justify-content: center;
    background-color: #fef7f0;
  }

  &__item {
    padding: 46px 46px 46px 230px;
    position: relative;
    width: 100%;

    &:not(:last-child) {
      border-right: 1px solid #e8e4df;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50px;
      left: 140px;
      width: 50px;
      height: 50px;
      background-color: $info-icon-color;
    }

    &--icon {
      &--time {
        &::after {
          mask: url('/images/sprite.svg#time') no-repeat 50% 50%;
        }
      }


      &--delivery {
        &::after {
          mask: url('/images/sprite.svg#delivery') no-repeat 50% 50%;
        }
      }

      &--pay {
        &::after {
          mask: url('/images/sprite.svg#pay') no-repeat 50% 50%;
        }
      }
    }
  }

  &__title {
    font-size: 18px;
    @extend %DMSans-700;
    color: #414141;
  }

  &__text {
    font-size: 16px;
    @extend %DMSans-500;
    line-height: 1.9;
    max-width: 215px;

    &:nth-child(2) {
      max-width: 225px;
    }

  }
}