.terms {
  padding-top: 120px;
  color: $default;

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__list {
    list-style-type: decimal-leading-zero;
    margin: 0 0 60px 35px;
  }

  &__item {
    padding-left: 5px;
    margin-bottom: 20px;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 1.875;

  }

  &__text {
    @extend .terms__item;
    padding-left: 0;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}