.video {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin: 50px 0 20px;

  &__link {
    font-size: 0;


    &::after {
      content: url('../images/sprite.svg#video-cycle-1');
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      z-index: 2;
    }

    &::before {
      content: url('../images/sprite.svg#video-cycle-0');
      @extend .video__link::after;
      z-index: 1;
      transition: all 0.5s;
    }

    &:hover::before {
      width: 130px;
      height: 130px;
    }
  }
}