.video {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 50px;


  &__play {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

  }

  &__link {
    &::before {
      content: url('/images/sprite.svg#video-cycle-0');
      @extend .video__play;
      width: 100px;
      height: 100px;
      z-index: 1;
      transition: all 0.5s;
    }

    &:hover::before {
      width: 130px;
      height: 130px;
    }

    &::after {
      content: url('/images/sprite.svg#video-cycle-1');
      @extend .video__play;
      width: 100px;
      height: 100px;
      z-index: 2;
    }
  }
}